
html, body {
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#svg-container {
    margin: 0;
    height: 100%;
    background-color: #FFFEE4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFEE4), to(#CCCBB6));
    background-image: -webkit-linear-gradient(top, #FFFEE4, #CCCBB6);
    background-image: -moz-linear-gradient(top, #FFFEE4, #CCCBB6);
    background-image: linear-gradient(to bottom, #FFFEE4, #CCCBB6);
    height: auto; 
    width: 40%;
    margin: 1rem;
    border: solid 1px #070541;
}

#svg {
    margin: auto;
    display: block;    
}
